@import './style-scroll.scss';
#reachjs.invisible {
  display: none !important;
}

#reachjs .reach-finder,
#reachjs .reach-finder .reach-finder__input {
  width: 100%;
  box-sizing: border-box;
}

#reachjs .items-found {
  width: 100%;
  margin-top: 15px;
}

#reachjs .items-found__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#reachjs .items-found__list li {
  padding: 8px 0;
}

.reachjs-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.reachjs-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.reachjs-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.reachjs-header h3 {
  margin-top: 0;
  color: #42b983;
}

.reachjs-body {
  margin: 20px 0;
}

.reachjs-default-button {
  float: right;
}