@import url('https://fonts.googleapis.com/css?family=Muli');
@import './style-scroll.scss';

html, body, input, textarea, select, button {
  font-family: 'Muli', sans-serif !important;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

#reachjs.invisible {
  display: none !important;
}

#reachjs .reach-finder,
.reach-finder .reach-finder__input {
  width: 100%;
  box-sizing: border-box;
}

.reach-finder .reach-finder__input {
  padding: 8px 10px;
}

#reachjs .items-found {
  width: 100%;
  margin-top: 15px;
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
  height: 445px;
}

#reachjs .items-found__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#reachjs .items-found__list li {
  padding: 8px 10px;
  &.list__item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

.reachjs-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.reachjs-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.reachjs-container {
  width: 300px;
  height: 480px;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  position: relative;
}

.reachjs-header h3 {
  margin-top: 0;
  color: #42b983;
}

.reachjs-body {
  height: 480px;
  overflow: hidden;
}

.reachjs-default-button {
  float: right;
}

.reachjs-fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ccc;
  border-radius: 50%;
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
}
